@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --solid-background-color: #434343;
  --text-color: #ffffffd4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --solid-background-color: #171717;
    --text-color: #ffffffd4;
  }
}

body {
  color: var(--text-color);
  background-color: var(--solid-background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
